---
export const prerender = false

import Layout from '@/layouts/Layout.astro'
import App from '@/components/App.astro'
import { authenticate } from '@/lib/supabase'
import { APPS } from '@/consts'
import Header from '@/sections/Header.astro'
import Container from '@/components/Container.astro'

const { isAuth } = await authenticate(Astro.cookies)

if (!isAuth) {
    return Astro.redirect('/login')
}
---

<Layout title="GALLO DREER APPS">
    <Header isAuth={true} />
    <main>
        <Container>
            <h1>GALLO & DREER APPS</h1>
            <h2>Aplicaciones disponibles</h2>
            <ul>
                <!-- TODO: deberiamos hacer cars por cada aplicación -->
                {APPS.map(a => <li>{<App name={a.name} link={a.link} />}</li>)}
            </ul>
        </Container>
    </main>
</Layout>
