---
export const prerender = false

import Layout from '@/layouts/Layout.astro'
import Header from '@/sections/Header.astro'
import Apps from '@/sections/Apps.astro'
import { authenticate } from '@/lib/supabase'

const { isAuth } = await authenticate(Astro.cookies)

if (!isAuth) {
    return Astro.redirect('/login')
}
---

<Layout title="GALLO DREER APPS">
    <Header isAuth={isAuth} />
    <main>
        <Apps />
    </main>
</Layout>
