---
export const prerender = false

import Layout from '@/layouts/Layout.astro'
import Header from '@/sections/Header.astro'
import Auth from '@/sections/Auth.astro'
import { authenticate } from '@/lib/supabase'

const { isAuth } = await authenticate(Astro.cookies)
if (isAuth) {
    return Astro.redirect('/')
}
---

<Layout title="Página de autenticación">
    <Header isAuth={false} />
    <main>
        <Auth />
    </main>
</Layout>
